<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.mapper.RoleMapper">
    <select id="querryForRoleByUsername" resultSets="Set" resultType="String">
        SELECT t3.permissions from users as t1
        INNER join user_roles as t2
        on t1.username = t2.username
        INNER JOIN roles_permissions as t3
        on t3.role_name = t2.role_name
        where t1.username = #{username};
    </select>

</mapper>