<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.mapper.UserMapper">
    <resultMap id="userMap" type="com.lc.pojo.Users">
        <id column="id" property="id"></id>
        <result column="username" property="userName"></result>
        <result column="password" property="passWord"></result>
        <result column="password_salt" property="passSalt"></result>
    </resultMap>

    <select id="querryByName" resultMap="userMap">
        select * from users
        where username = #{username}
    </select>
    

    <update id="insertIntoSalt" >
       update users set password_salt = #{param2}
        where username = #{param1}
    </update>

</mapper>